.navigation {
  background-color: white;
  border-bottom: 2px solid var(--main-light-color);
}

.navigation ul {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.navigation li {
  font-size: 1.1rem;
  list-style-type: none;
  margin-right: 3rem;
}

@media only screen and (max-width: 600px) {
  .navigation ul {
    flex-flow: column;
    align-items: center;
  }
}
